<div class="wrapper">

  <h1>Neue Person</h1>

  <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <fieldset>
      <label for="name">Name</label>
      <input
        formControlName="name" id="name" type="text" class="form-control">
    </fieldset>

    <fieldset>
      <label for="email">E-Mail</label>
      <input
        formControlName="email" id="email" type="text" class="form-control">
    </fieldset>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
